<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update</title>
</head>
<body>

<form th:method="POST" th:action="@{/update product}" th:object="${good}">
    <label for="goodsId">You id: </label>
    <input type="number" th:field="*{goodsId}" id="goodsId" readonly = "readonly"/>
    <div style="color:red" th:if="${#fields.hasErrors('goodsId')}" th:errors="*{goodsId}">Id Error</div>
    <label for="barcode">Enter barcode: </label>
    <input type="text" th:field="*{barcode}" id="barcode"/>
    <div style="color:red" th:if="${#fields.hasErrors('barcode')}" th:errors="*{barcode}">Barcode Error</div>
    <label for="name">Enter name: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</div>
    <label for="price">Enter price: </label>
    <input type="text" th:field="*{price}" id="price"/>
    <div style="color:red" th:if="${#fields.hasErrors('price')}" th:errors="*{price}">Price Error</div>
    <label for="remnant">Enter remnant: </label>
    <input type="number" th:field="*{remnant}" id="remnant"/>
    <div style="color:red" th:if="${#fields.hasErrors('remnant')}" th:errors="*{remnant}">Name Error</div>
    <label for="shopId">Enter Shop ID: </label>
    <input type="text" th:field="*{shopId}" id="shopId"/>
    <div style="color:red" th:if="${#fields.hasErrors('shopId')}" th:errors="*{shopId}">ShopID Error</div>
    <input type="submit" value="Update!"/>
</form>

</body>
</html>